body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  background-color: #f0f2f5;
  transition: background-color 0.3s;
}

header {
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  height: 60px;
  background-color: #4CAF50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

aside {
  width: 200px;
  background-color: #333;
  color: white;
  height: 100vh;
  padding-top: 60px;
  position: fixed;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  padding: 15px 20px;
  cursor: pointer;
}

aside ul li.active {
  background-color: #4CAF50;
}

main {
  margin-left: 200px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}

#task-list li.completed {
  text-decoration: line-through;
  color: gray;
}

.dark-mode {
  background-color: #181818;
  color: white;
}

#theme-toggle {
  cursor: pointer;
  padding: 5px 10px;
}
#task-input {
  width: 750px; /* Makes the input 0.5 vw wide */
}
